.nav-pills .nav-link {
  color: #3E2040;
  font-weight: bold;
  font-size: 20px;
}
.nav-pills .nav-link:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}
.nav-pills .nav-link.active {
    color: white;
    background-color: #3E2040;
}
.title {
  margin: auto;
  width: 50%;
  margin-top: 6%;
  text-align: center;
}
body {
  font-family: "Myriad";
  background-color: #EBEBEB;
}
body > .nav {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
.item-button:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.container {
  margin-top: 2%;
  margin-bottom: 2%;
}
.intro-block-left {
  background-color: #D8D2D9;
  color: black;
  margin-top: 2%;
  padding: 3% 3% 3% 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.intro-block-right {
  background-color: #0A0035;
  color: white;
  margin-top: 2%;
  padding: 3% 3% 3% 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.intro-block-left > h2 {
  font-weight: bold;
  padding-bottom: 1%;
}
.intro-block-left > div button {
  margin-top: 4%;
}
.intro-block-right > h2 {
  font-weight: bold;
  padding-bottom: 1%;
}
.list-items > p, .intro-block-right > p{
  font-size: 20px;
}
.list-items > p > a {
  color: white;
  margin-left: 2px;
  margin-right: 2px;
}
.list-items > p:hover {
  transform: scale(1.1);
}
.intro-block-right > .list-items {
  margin-left: 5%;
}
.proj-block-left {
  margin-top: 5%;
}
.proj-block-right {
  margin-top: 5%;
}
.proj-block-left > div {
  margin-top: 6%;
  font-size: 28px;
}
.proj-block-right > div {
  margin-top: 6%;
  font-size: 28px;
}
.github-icon {
  color: black;
}
.linkedin-icon {
  color: #0077B5;
}
.facebook-icon {
  color: #3b5998;
}
.email {
  font-weight: bold;
}
.social-media {
  margin-top: 20%;
}
.description {
  font-size: 20px;
  width: 50%;
  float: left;
}
.side-image {
  width: 40%;
  margin-left: 5%;
}
.pea-img {
  width: 30px;
}
.image-character {
  width: 15%;
}
.title-bold {
  font-weight: bold;
}
.fa:hover {
  transform: scale(1.1);
}
.slider.slider-horizontal {
  margin-bottom: 20%;
}
.title-bold {
  margin-top: 5%;
}
#peashooter {
  transform-origin: 50% 50%;
  position: relative;
}
#peashooter:hover {
}
#pea {
  position: absolute;
  left: 0;
  top: 0;
}
